body{
    background: linear-gradient(
        120deg,
        #050816,
        #131e4b,
        #11151e
    );

    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
/* Sidebare a gauche*/
.sidebar{
    width: 260px;
    height: 100vh;
    background-color: rgba(11, 19, 38, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    position: fixe;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(189, 179, 213, 0.2);
}
/*logo*/
.logo{
    margin-bottom: 40px;
}
.logo h2{
    color: #a4b3f7;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.logo span{
    color: #BB5CF6;
    font-size: 27px;
    margin-bottom: 30px;
}
/*Menu*/
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.menu li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #CBD5E1;
    padding: 14px 18px;
    border-radius: 12px;
    transition: 0.5s;
}
/*hover*/
.menu li a:hover{
    background: rgba(139, 92, 246, 0.4);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.4);
    transition: 0.9s;
}
.menu li:first-child a{
    background: linear-gradient(90deg, #8B5CF6, #6366F1);
    color: white;
    box-shadow: 0 0 20px rgba(139, 92, 246, 0.4);
}
/*logout*/
.logout a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    border-radius: 12px;
    background: rgba(239, 68, 68, 0.15);
    color: white;
    transition: 0.3s;
}
.logout a:hover{
    background: rgba(239, 68, 68, 0.8);
    color: white;
}

