* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "arial", helvetica, sans-serif;
}
body {
  background-image: url("assets/image/index3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  color: #fff;
}

/*overplay*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background:
    radial-gradient(circle at top right, rgba(139, 92, 246, 0.25)),
    transparent 40%;
  z-index: -1;
}

/* navbar*/
.navbar {
  width: 100%;
  margin: 20px auto;
  padding: 18px 35px;
  background: rgba(5, 8, 22, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

/*logo*/
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo i {
  font-size: 45px;
  color: #8b5cf6;
}
.logo h2 {
  font-size: 32px;
}
.logo span {
  color: #8b5cf6;
  font-weight: bold;
  letter-spacing: 2px;
}

/*LINKS*/
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #e2e8f0;
  transition: 0.3s;
}
.nav-links a:hover,
.active {
  color: #8b5cf6;
}

/*BOUTTON*/
