<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Room Manager</title>
    <link rel="stylesheet" href="../../assets/css/tarifs.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="parent">
      <div class="sidebar">
        <div class="logo">
          <h2>GameRoom</h2>
          <span>Manager</span>
        </div>
        <ul class="menu">
          <li>
            <a href="dash.html">
              <i class="fa-solid fa-house"></i> Tableau de bord</a
            >
          </li>
          <li>
            <a href="session.html">
              <i class="fa-solid fa-clock"></i> Sessions en cours</a
            >
          </li>
          <li>
            <a href="machine.html">
              <i class="fa-solid fa-gamepad"></i> Machines</a
            >
          </li>
          <li>
            <a href="clients.html">
              <i class="fa-solid fa-users"></i> Clients</a
            >
          </li>

          <li>
            <a href="paiement.html">
              <i class="fa-solid fa-wallet"></i> Paiement</a
            >
          </li>
          <li>
            <a href="tarifs.html"> <i class="fa-solid fa-tags"></i> Tarifs</a>
          </li>
          <li>
            <a href="report.html">
              <i class="fa-solid fa-chart-line"></i> Rapports</a
            >
          </li>
        </ul>
        <div class="logout">
          <a href="#">Se déconnecter</a>
        </div>
      </div>
      <div class="main">
        <div class="topbar">
          <div>
            <h2>Bonjour Gerant !</h2>
            <p class="Bonjour-gerant">
              Voici un aperçu de votre interface de aujourd'hui.
            </p>
          </div>
          <div class="deconnect flex gap-4">
            <p>
              <i class="fa-solid fa-bell border bg-black p-1 rounded-full"></i>
            </p>
            <p class="ending-day">
              Fin de la journée <i class="fa-solid fa-sign-out-alt"></i>
            </p>
          </div>
        </div>
        <!--ici tous les codes  qui se trouve au cetre d'axe-->
        <main>
          <div>
            <h2 class="text-2xl">Nos tarifs</h2>
            <p>Des offres correspondant a votre loisirs</p>
          </div>
          <div class="cards-container">
            <article class="basic">
              <h2>BASIC</h2>
              <p class="price">9 900 Ar</p>
              <p class="period">/ mois</p>
              <ul>
                <li>Jusqu'à 10 machines</li>
                <li>Accès à 2 jeux</li>
                <li>4 heures par jour</li>
                <li>1 boisson offerte</li>
              </ul>
              <button>Choisir BASIC</button>
            </article>
            <article class="standard">
              <h2>STANDARD</h2>
              <p class="price">23 000 Ar</p>
              <p class="period">/ mois</p>
              <ul>
                <li>Jusqu'à 15 machines</li>
                <li>Accès à 4 jeux</li>
                <li>6 heures par jour</li>
                <li>2 boissons offertes</li>
              </ul>
              <button>Choisir STANDARD</button>
            </article>
            <article class="premium">
              <h2>PREMIUM</h2>
              <p class="price">55 000 Ar</p>
              <p class="period">/ mois</p>
              <ul>
                <li>Accès à toutes les machines</li>
                <li>Accès à tous les jeux</li>
                <li>8 heures par jour</li>
                <li>4 boissons offertes</li>
              </ul>
              <button>Choisir PREMIUM</button>
            </article>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
